*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(to bottom, #009688, #009688 15%, #D9DBD4 15%, #D9DBD4 100%); 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.application{
    width: 80%!important;
    height: 90%!important;
    position: relative;
}

.bg-lightgray{
    background-color: #EAEAEA;
}

/* left */
#account{
    height: 8%;
}

#utente img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

i{
    color: #b1b1b1;
}

#notifiche{
    background-color: #8edafc;
    height: 10%;
}

#bell{ 
    background-color: rgba(255, 255, 255, 0.8);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
}

.fa-bell-slash{
    color: #8edafc;
}

#search{
    height: 6%;
}

.contact img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

#contacts{
    overflow-y: scroll;
    height: 76%;
}

.contact{
    border-top: 1px solid #EAEAEA;
}

.contact:first-child{
    border-top: 0;
}

/* right */

#now-chat{
    height: 8%;
}

#now-chat img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

#chat{
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
    height: 84%;
    padding-top: 4% ;
}

.message{
    border-radius: 5px;
    padding: 10px 10px 3px 10px;
    max-width: 66.66666%;
    width: max-content;
    margin: 5px 0;
    display: inline-block;
}

.sent{
    background-color: #d5f9ba;
    align-self: end;
}

.received{
    background-color: white;
}

.ora{
    text-align: end;
    font-size: 10px;
}

#write{
    height: 8%;
    bottom: 0;
    left: 0;
    right: 0;
}

#text{
    width: 80%;
}

#emoji,
#mic{
    width: 10%;
    text-align: center;
}

#emoji i,
#mic i{
    color:#6B7376;
}

i:hover{
    cursor: pointer;
}